body {
	background: #415a80;
}

.weather-project {
	background-color: #f2f2f2;
	max-width: 700px;
	margin: 40px auto;
	box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
	border-radius: 10px;
	padding: 30px;
}

/* line */
header {
	border-bottom: 1.5px solid #aee5d1;
	padding: 0 0 30px 0;
}

.weather-place {
	font-family: "Inter", sans-serif;
	font-size: 64px;
	line-height: 64px;
	font-weight: 500;
	margin-left: 10px;
	letter-spacing: 1px;
}

#city {
	font-weight: 800;
}

/* form */
.search-form-input {
	background-color: #f7f7f7;
	font-size: 15px;
	border: none;
	border-radius: 6px;
	width: 80%;
	padding: 15px 20px;
	margin-left: 13px;
}

.search-form-button {
	background: #aee5d1;
	color: #415a80;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	padding: 17px 30px;
}

/* weather */
main {
	padding: 25px 10px;
}

.weather-app-data {
	display: flex;
	justify-content: space-between;
}

.weather-app-details {
	font-family: "Merriweather", serif;
	font-size: 20px;
	line-height: 33px;
	padding-left: 30px;
	padding-top: 140px;
}

.weather-app-temperature-container {
	font-family: "Merriweather", serif;
	padding-right: 40px;
	text-align: center;
	/* for display de img + temperature in horizontal display: flex;*/
}

.icon {
	margin-top: 50px;
	margin-bottom: -20px;
}

.temp-unit {
	display: flex;
	justify-content: center;
}

.weather-temperature {
	font-size: 120px;
	font-weight: 600;
	margin-top: -15px;
}

.weather-unit {
	font-size: 45px;
	padding-top: 10px;
}

/*forecast*/
.weather-forecast {
	display: flex;
	justify-content: space-around;
	margin-top: 90px;
	margin-bottom: 30px;
}

.weather-forecast-date {
	text-align: center;
	color: #525252;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
}

.weather-forecast-icon {
	width: 80px;
	display: block;
	margin: 0 auto;
}

.weather-forecast-temperatures {
	font-family: "Merriweather", serif;
	font-size: 17px;
	text-align: center;
	color: #3d72b4;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.weather-forecast-max {
	padding-right: 10px;
}

/*footer*/
footer {
	border-top: 1.5px solid #7591b391;
	padding: 35px 0 0px 0;
}

.last-update {
	font-family: "Merriweather", serif;
	font-size: 12px;
	text-align: center;
	padding: 0 0 20px 15px;
}

.about {
	font-family: "Merriweather", serif;
	font-size: 11px;
	text-align: center;
}

/*
Colors:⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣
415A80 • AEE5D1 • F2F2F2 • E4E4E4

⁣⁣⁣⁣⁣⁣Text Colors ⁣⁣⁣⁣⁣⁣⁣⁣⁣:
E4E4E4 • 415A80 • 415A80 • 415A80*/
